.product.grid {
  gap: 0;
}
.product__media-wrapper {
  padding-left: 0;
}
.product__info-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 750px) {
  .product--thumbnail .product__media-gallery,
  .product--thumbnail_slider .product__media-gallery,
  .product--stacked .product__info-container--sticky {
    display: block;
    position: sticky;
    top: 3rem;
    z-index: 2;
  }
  .product__media-wrapper {
    padding-right: 20px;
  }
  .product--thumbnail .thumbnail-list {
    padding-right: var(--media-shadow-horizontal-offset);
  }
}

@media screen and (min-width: 990px) {
  .product--medium:not(.product--no-media) .product__media-wrapper {
    max-width: 50%;
    width: calc(50% - 50px);
  }

  .product__media-wrapper {
    padding-right: 50px;
  }

  .product--medium:not(.product--no-media) .product__info-wrapper {
    max-width: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .product__media-list {
    margin-left: -2.5rem;
    margin-bottom: 3rem;
    width: calc(100% + 4rem);
  }

  .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .slider.product__media-list::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
  }

  .product__media-list::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-foreground));
  }

  .product__media-list::-webkit-scrollbar-track {
    background-color: rgba(var(--color-foreground), 0.2);
  }

  .product__media-list .product__media-item {
    width: calc(100% - 3rem);
  }
}

@media screen and (min-width: 750px) {
  .product--thumbnail .product__media-list,
  .product--thumbnail_slider .product__media-list {
    padding-bottom: calc(
      var(--media-shadow-vertical-offset) * var(--media-shadow-visible)
    );
  }

  .product__media-list {
    padding-right: calc(
      var(--media-shadow-horizontal-offset) * var(--media-shadow-visible)
    );
  }

  .product--thumbnail .product__media-item:not(.is-active),
  .product--thumbnail_slider .product__media-item:not(.is-active) {
    display: none;
  }

  .product-media-modal__content
    > .product__media-item--variant.product__media-item--variant {
    display: none;
  }

  .product-media-modal__content > .product__media-item--variant:first-child {
    display: block;
  }
}

.product__media-item.product__media-item--variant {
  display: none;
}

.product__media-item--variant:first-child {
  display: block;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .product__media-list .product__media-item:first-child {
    padding-left: 0;
  }

  .product--thumbnail_slider .product__media-list {
    margin-left: 0;
  }

  .product__media-list .product__media-item {
    width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .product--thumbnail
    .is-active
    > .product__modal-opener:not(.product__modal-opener--image),
  .product--thumbnail_slider
    .is-active
    > .product__modal-opener:not(.product__modal-opener--image) {
    display: none;
  }

  .product--thumbnail .is-active .deferred-media,
  .product--thumbnail_slider .is-active .deferred-media {
    display: block;
    width: 100%;
  }
}

.product-media-modal__content > * {
  display: block;
  height: auto;
  margin: auto;
}

.product-media-modal__content .media {
  background: none;
}

.product-media-modal__model {
  width: 100%;
}

.product-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * {
    width: 100%;
  }

  .product-media-modal__content > * + * {
    margin-top: 2rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
    top: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * + * {
    margin-top: 1.5rem;
  }

  .product-media-modal__content {
    padding-bottom: 1.5rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
  }
}

.product__media-list .media > * {
  overflow: hidden;
}

.thumbnail-list {
  flex-wrap: wrap;
  grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .thumbnail-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.thumbnail-list_item--variant:not(:first-child) {
  display: none;
}

@media screen and (min-width: 990px) {
  .product--medium .thumbnail-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .product__media-item {
    display: flex;
    align-items: center;
  }

  .product__modal-opener {
    width: 100%;
  }

  .thumbnail-slider {
    display: flex;
    align-items: center;
  }

  .thumbnail-slider .thumbnail-list.slider {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .product--thumbnail_slider .thumbnail-slider {
    display: flex;
    align-items: center;
  }

  .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: flex;
    padding: 0.5rem;
    flex: 1;
    scroll-padding-left: 0.5rem;
  }

  .product__media-wrapper .slider-mobile-gutter .slider-button {
    display: none;
  }

  .product--thumbnail_slider .slider-mobile-gutter .slider-button {
    display: flex;
  }
}

.thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide {
  width: calc(16.5% - 0.8rem);
}
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  padding: 0;
  color: rgb(var(--color-base-accent-3));
  cursor: pointer;
  background-color: transparent;
}

.thumbnail.global-media-settings img {
  border-radius: 0;
}

.thumbnail[aria-current] {
  border-color: rgb(var(--gradient-base-accent-2));
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
  .thumbnail[aria-current]:focus,
  .thumbnail.focused {
    outline: transparent solid 1px;
  }
}

.thumbnail img {
  pointer-events: none;
}

.thumbnail--narrow img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.thumbnail--wide img {
  height: auto;
  width: 100%;
}

.thumbnail__badge {
  color: rgb(var(--color-foreground), 0.6);
  height: 2rem;
  width: 2rem;
  left: auto;
  right: calc(0.4rem + var(--media-border-width));
  top: calc(0.4rem + var(--media-border-width));
}

.thumbnail-list__item {
  position: relative;
}

.thumbnail-list__item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.product:not(.featured-product) .product__view-details {
  display: none;
}

.product {
  padding-top: 20px;
  margin: 0;
}
.row {
  display: flex;
}

.product-subtitle {
  line-height: 1.4;
}
.product-headline {
  font-size: 3.6rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.product-info .price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 30px;
}
.price > * {
  display: inline-block;
  vertical-align: middle;
}
.price-item--sale {
  font-weight: 700;
  color: var(--color-base-accent-1);
}
.price-item--regular {
  font-size: 2rem;
}
.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-block;
}
.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}
.old {
  text-decoration: line-through;
  opacity: 0.7;
}
.sale-tag {
  padding: 2px 30px;
  margin-left: 10px;
  border-radius: 30px;
  background-color: rgb(var(--color-base-accent-3));
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.product-form__input input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.bundle-label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #000;
}
.saving-bundles {
  padding-bottom: 20px;
}
.saving-bundle {
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 17px 10px;
  max-width: 174px;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
}
.saving-bundle div {
  line-height: 1.2;
}
.saving-bundle div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
}
.saving-bundle div:first-child {
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #3e4e59;
  border: 1px solid #fff;
  border-radius: 30px;
  position: absolute;
  top: -7px;
  left: -8px;
  padding: 10px 6px;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1;
  transform: rotate(-21deg);
}
.saving-bundle div:first-child span {
  font-size: 15px;
  font-weight: 700;
  display: block;
}
.saving-bundle div:nth-child(5) {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background-color: #3e4e59;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 110px;
  color: #fff;
}
.saving-bundle2 {
  margin: 0px 10px;
}
input[type="radio"]:checked + label {
  border: 2px solid #009dc8;
  background-color: #009dc8;
  color: #fff;
}
.cta {
  margin-bottom: 20px;
  margin-top: 15px;
}
.cta-button {
  flex: 0 0 50%;
}
.b-get-btn button {
  width: 100%;
}
.lock-icon {
  display: inline-block;
  vertical-align: middle;
}
.safe-checkout {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}
.payment-logo-wrapper {
  max-width: 254px;
  margin: auto;
}
.product-subtitle span {
  font-weight: 700;
  /* color: rgb(var(--color-base-accent-2)); */
}
.review-img {
  flex: 0 0 30%;
  line-height: 0;
  position: relative;
}
.review-img img {
  border-radius: 5px;
}
.review-content {
  font-size: 12px;
  line-height: 16px;
  padding: 0 10px;
}
.review-content > * {
  display: block;
}
.review-content .review {
  margin-bottom: 10px;
  font-style: italic;
}
.verify {
  display: flex;
  align-items: center;
}
.verify span {
  padding-left: 2px;
  color: #038848;
}
.review-card {
  max-width: 400px;
  padding: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  align-items: center;
}
@media screen and (max-width: 749px) {
  .product-headline {
    font-size: 2.8rem;
  }
  .product-gallery {
    flex: 100%;
  }
  .mobile-hide {
    display: none;
  }
  .price-item--sale {
    font-size: 2.8rem;
  }
  .saving-bundles {
    padding-bottom: 6px;
  }
  .bundle-label {
    font-size: 13px;
    margin-bottom: 11px;
  }
  .price-save-stock {
    margin: 19px 0px 10px;
  }
}
@media screen and (max-width: 1024px) {
  .saving-bundle div:nth-child(2) {
    font-size: 14px;
  }
  .saving-bundle div:nth-child(3) {
    font-size: 12px;
  }
  .saving-bundle div:nth-child(4) {
    font-size: 13px;
  }
  .saving-bundle div:first-child span {
    font-size: 10px;
  }
  .saving-bundle div:first-child {
    font-size: 7.5px;
    top: -11px;
    left: -8px;
    padding: 7px;
  }
  .saving-bundle div:nth-child(5) {
    font-size: 9px;
    padding: 5px 6px;
    bottom: -12px;
    max-width: 76px;
  }
  .saving-bundle {
    padding: 10px 0px 15px;
    border-radius: 8px;
  }
  .saving-bundle2 {
    margin: 0px 6px;
  }
  .payment-logos {
    margin: auto;
  }
  .secure-text {
    text-align: center;
  }
  .b-safe-checkout {
    margin-top: 15px;
  }
}
@media screen and (min-width: 750px) {
  .only-on-mobile {
    display: none;
  }
  .product-headline {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .product-headline {
    font-size: 36px;
  }
  .cta {
    display: flex;
    align-items: center;
  }
}
